@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Josefin+Sans&family=Nanum+Gothic+Coding&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Reenie+Beanie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Press+Start+2P&family=Space+Mono&display=swap");
* {
    font-family: "Space Mono", monospace;
}
body {
    width: 100vw;
    max-width: 100%;
    height: fit-content;
}
.main-nav {
    position: relative;
    background-color: #000000;
    color: #fff;
    height: 100px;
    display: inline-flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin: 0;
}
.logo-div {
    position: absolute;
    left: 45%;
}
.logo-div img {
    width: 220px;
    height: 100px;
    object-fit: cover;
}
.categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 0.75fr;
}

.nav_btn {
    height: 50px;
    background-color: #25272900;
    color: #fff;
    position: relative;
    border: none;
    padding-inline: 2rem;
    transition: all 1s ease;
}

.nav_btn:hover {
    background-color: #fff;
    color: #000000;
}
.menu-div button {
    height: 100px;
    width: 100%;
    background-color: #00000000;
    color: #fff;
    border: none;
    font-size: 6vh;
}
.menu-div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}
.menu-div button:hover {
    background-color: #3f3f3f;
}
.menu-div button i {
    transition: all 1s ease;
}
.menu-div button:hover i {
    transform: rotate(45deg);
}

/* footer */
.footer {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    width: 100%;
    font-family: "Josefin Sans", sans-serif !important;
}
.upper-footer {
    padding: 4rem;
    background-color: #252729;
    color: #fff;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
}
.footer-list h4 {
    justify-self: center;
}
.lower-footer {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-body {
    background-color: #080808;
    color: #fff;
    height: 80vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* CSS */
.button-49,
.button-49:after {
    width: 50%;
    height: 76px;
    line-height: 78px;
    font-size: 20px;
    font-family: "Bebas Neue", sans-serif;
    background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    box-shadow: 6px 0px 0px #00e6f6;
    outline: transparent;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-49:after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);

    content: "SIGN UP";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
        45deg,
        transparent 3%,
        #00e6f6 3%,
        #00e6f6 5%,
        #ff013c 5%
    );
    text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
    clip-path: var(--slice-0);
}

.button-49:hover:after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
}

@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }
    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }
    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }
    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }
    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }
    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }
    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }
    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }
    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }
    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }
    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}

@media (min-width: 768px) {
    .button-49,
    .button-49:after {
        width: 200px;
        height: 86px;
        line-height: 88px;
    }
}
